body {
  background-color: rgb(221, 247, 11);
}

.header {
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
  background-color: rgb(49, 218, 247);
  font-family: monospace;
  width: 40%;
  margin: auto;
}

.footer {
  width: 50%;
  margin: auto;
  text-align: center;
  border-top: 1px solid black;
  font-family: monospace;
}

.content, .homeButton {
  text-align: center;
}

.buttons {
  width: 50%;
  font-size: 20px;
  margin: 20px auto;
  font-family: monospace;
}

.homePageButtons {
  width: 30%;
  font-size: 20px;
  margin: 20px auto;
  font-family: monospace;
}

.gameType {
  background-color: rgb(64, 21, 232);
  border: 2px solid black;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  margin: 15px 0px;
  color: white;
}

.resetScores {
  background-color: red;
}

.upperDisplayElementsContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  display: flex
}

.upperDisplayElements {
  width: 30%;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  margin: auto;
  margin-top: 20px
}

.gameClass {
  background-color: white;
  border: 5px solid black;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.answerArea {
  margin: auto;
  height: 1em;
  padding: 0.2em;
  width: 80%;
  text-align: center;
  background-color: rgb(2, 212, 167);
  border: 3px solid black;
}

.answerButtons {
  background-color: rgb(208, 241, 158);
  border: 2px solid black;
  font-size: 20px;
  width: 100px;
  height: 40px;
  text-align: center;
  margin: 5px;
  border-radius: 15px;
}

.deleteButton {
  background-color: red;
  border: 2px solid black;
  font-size: 20px;
  height: 40px;
  width: 210px;
  text-align: center;
  margin: 5px;
  border-radius: 15px;
}

.clearButton {
  background-color: black;
  color: red;
  border: 2px solid black;
  font-size: 20px;
  height: 40px;
  width: 210px;
  text-align: center;
  margin: 5px;
  border-radius: 15px;
}

.gameType:hover, .answerButtons:hover {
  background-color: rgb(218, 57, 232);
  color: black;
}

.deleteButton:hover, .clearButton:hover {
  background-color: rgb(240, 145, 20);
  color: black;
}

.intro {
  font-size: 20px;
  font-family: monospace;
  width: 70%;
  margin: 15px auto;
}

.rules {
  text-align: justify;
}

.homepage {
  border-top: 2px white solid;
  padding-top: 20px;
  width: 60%;
  margin: auto;
  font-family: monospace;
}

.highScoreCalcType {
  width: 90%;
  display: flex;
  margin: auto;
  border-top: 3px white solid;
  border-bottom: 3px white solid;
}

.difficultySeparatorLeft {
  border-right: 1px white solid;
}

.difficultySeparatorCentre, .difficultySeparatorLeft, .difficultySeparatorRight {
  width: 30%;
  margin: auto;
}

.difficultySeparatorRight {
  border-left: 1px white solid;
}

.difficultyTitle {
  font-size: 20px;
  text-decoration: underline;
}

.finalScore {
  margin-bottom: 16px;
}

.howToPlay {
  width: 100%;
  margin: auto;
}

::placeholder {
  color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
  outline: 0;
}

@media screen and (max-width: 700px) {
  .homePageButtons {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .header-title {
    width: 100%;
    font-size: 6vw;
  }
  .intro {
    font-size: 5vw;
  }
  .homepage {
    font-size: 4vw;
  }
  .gameType {
    width: 50%;
    font-size: 4vw;
  }
  .footer-title {
    font-size: 5vw;
  }
  .difficultyTitle {
    font-size: 3vw;
  }
  .scoresDisplay {
    font-size: 2vw;
  }
  .gameClass, .gameHeaders {
    width: 90%;
  }
  .answerButtons {
    width: 20%;
    height: 10vw;
    font-size: 4vw;
    padding: 0px;
    margin: 1vw;
  }
  .deleteButton, .clearButton {
    width: 42%;
    height: 10vw;
    font-size: 4vw;
    padding: 0px;
    margin: 1vw;
  }
  .gameType:hover, .answerButtons:hover {
    background-color: rgb(208, 241, 158);
    color: black;
  }
  .deleteButton:hover {
    background-color: red;
    color: black;
  }
  .clearButton:hover {
    background-color: black;
    color: red;
  }
  .gameType:active, .answerButtons:active {
    background-color: rgb(242, 123, 64);
    color: white;
  }
  .deleteButton:active, .clearButton:active {
    background-color: rgb(240, 145, 20);
    color: black;
  }
}

.cardDisplay {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-image: url('images/istockphoto-541118196-612x612.jpg');
  width: 200px;
  font-family: monospace;
  border-radius: 20px;
  padding: 10px 0px;
  margin: 10px;
  border: 2px solid black;
}

.image {
  height: 100px;
  border: 5px solid black;
}

.textArea {
  background: rgb(193, 194, 196);
  width: 90%;
  margin: auto;
  border-radius: 20px;
  border: 1px solid black;
  padding-bottom: 10px;
}

.cardName {
  font-weight: bold;
  padding: 5px;
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  cursor: default;
}

.stat {
  width: 40%;
  display: inline-block;
  text-align: justify;
  padding: 5px;
  margin: 0px;
  cursor: default;
}

.statValue {
  width: 30%;
  display: inline-block;
  text-align: right;
  padding: 5px;
  margin: 0px;
  cursor: default;
}

.gameDisplay {
  background: blue;
  width: 90%;
  height: 400px;
  margin: 20px auto;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.beginButton {
  background-color: yellow;
  border: 2px solid black;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  margin: 15px 0px;
  color: black;
}

.beginButton:hover {
  background-color: lime;
  color: black;
}

.beginButtonWithoutHover {
  background-color: yellow;
  border: 2px solid black;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  margin: 15px 0px;
  color: black;
}

.buttonFadeOut {
  opacity: 0;
  transition: opacity 1s;
}

.gameText {
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  color: yellow;
  width: 100%;
}

.hidden {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s;
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s;
}

.coin {
  border: 1px solid black;
  background: gold;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  cursor: default;
}

.coin:hover {
  color: black;
  transform: scale(1.2, 1.2);
  transition: transform 0.5s;
}


.flippedCoin {
  border: 1px solid black;
  background: gold;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transform: scale(1.2, 1.2);
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.flippedCoin:hover {
  color: black;
}

.inactiveCoin {
  border: 1px solid black;
  background: gold;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.inactiveCoin:hover {
  color: black;
}

.playerArea {
  background: red;
  width: 40%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.centralArea {
  background: yellow;
  width: 20%;
  height: 100%;
}

.computerArea {
  background: green;
  width: 40%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}

.gameStatWithoutHover {
  width: 80%;
  margin: auto;
  border-radius: 20px;
}

.gameStatWithHover {
  width: 80%;
  margin: auto;
  border-radius: 20px;
}

.gameStatWithHover:hover {
  background: rgb(73, 72, 71);
  color: white;
  transition: background 0.5s;
}
